<!--
====================================================
; Title: BCRS forgot-password-dialog.component.html
; Author: Karie Funk
; Date: 14 April 2020
; Modified By: Joshua Hughes
; Description: This is the html forgot-password-dialog
; component page
;======================================================
-->


<div fxLayout="column" fxAlign="center center">
    <form [formGroup]="form" (ngSubmit)="resetPassword()" #userForm>
        <mat-card-content fxLayout="column">
            <!--Input for username in reset form-->
            <mat-form-field>
                <input matInput [formControl]="form.controls['username']" placeholder="Username" fxFlex/>
                <!-- error shows if username is not valid -->
                <mat-error *ngIf="form.controls['username'].hasError('usernameExists')">The username is not found!.</mat-error>
            </mat-form-field>
            <br/>
        </mat-card-content>
        <!--Login Button-->
        <mat-card-actions>
            <div fxFlex></div>
            <button type="submit" mat-raised-button *ngIf="form.valid">Reset Password</button>
            <button (click)="cancel()"  mat-raised-button>Cancel</button>
        </mat-card-actions>
      
    </form>
</div>