<!-- ============================================
; Title:          contact.component.html
; Author:         Tyler Librandi
; Date:           17 April 2020
; Description:    Contact page content
;=========================================== -->

<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
  <h1 fxFlex class="title">
      Bob's Computer Repair Shop<br />
      <span class="subtitle">
         Feel free to reach out to us by any of these means

      </span>
  </h1>
  <div class="about-content">
      <mat-divider></mat-divider>
      <br />
      <p class="mat-body-4">
          <span class="p-title mat-headline" style="text-decoration: underline;">Contact Us</span><br />
          <br />
        Phone: (999) 999-9999
        <br />
        <br />
        Address: 333 Land street, Superville, US, 11111
        <br />
        <br />
        Email: email@emailaddress.com
      </p>
      <br />
      <br />
  </div>
</div>
