<!-- ============================================
; Title:          role-delete-dialog.component.html
; Author:         Joshua Hughes
; Date:           22 April 2020
; Description:    Dialog for deleting role
;=========================================== -->

<h2 mat-dialog-title>Confirmation Dialog</h2>

<div mat-dialog-content>
    <p>Are you sure you want to remove role: <strong>{{roleId}}</strong> from the system?</p>
    <small style="color:#bf546a">WARNING: This cannot be undone!</small>
</div>

<hr>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close="cancel" color="primary">No Thanks</button>
    <button mat-raised-button mat-dialog-close="confirm" color="accent" cdkFocusInitial>Accept</button>
</div>
