
<!--
============================================
; Title: user-registration-dialog.component
; Author: Joshua Hughes
; Date: 04/13/2020
; Modified By: Joshua Hughes
; Description: new user registration dialog component
;===========================================
-->
<div fxLayout="column">
    <h2>Create a new account</h2>
    
    <mat-horizontal-stepper [linear]="isLinear" #stepper>  

      <mat-step [stepControl]="accountForm">
        <form [formGroup]="accountForm">
          <ng-template matStepLabel>Account information</ng-template>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <div fxFlex="30%" fxLayout="column">

                <mat-form-field fxFlex="50%">
                    <input
                      type="text" matInput formControlName="username" placeholder="Username"/>
                    <mat-error *ngIf="accountForm.controls['username'].hasError('usernameExists')">The username is already in use.</mat-error>
                </mat-form-field>
    
                <mat-form-field fxFlex="50%">
                    <input [type]="show ? 'text' : 'password' " matInput formControlName="password" placeholder="Password" fxFlex />
                    <mat-icon class="pwShow" matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon><br>
                    <mat-error *ngIf="accountForm.controls['password'].hasError('minlength')">Password requirements: Minimum of 8 characters</mat-error><br>
                    <mat-error *ngIf="accountForm.controls['password'].hasError('pattern')">Password requirements: one uppercase, one lowercase, and one number.</mat-error>
                </mat-form-field>

                <br>
            </div>
            <div fxFlex="20%"></div><!-- spacer div -->
            <div fxFlex="50%" fxLayout="column">
                <mat-form-field fxFlex="25%">
                    <input type="text" matInput formControlName="firstname" placeholder="First Name"/>
                  </mat-form-field>
        
                  <mat-form-field fxFlex="25%">
                    <input type="text" matInput formControlName="lastname" placeholder="Last Name"/>
                  </mat-form-field>

                  <mat-form-field fxFlex="25%">
                    <input type="text" matInput formControlName="phoneNumber" placeholder="Phone Number"/>
                  </mat-form-field>
        
                  <mat-form-field fxFlex="25%">
                    <input type="text" matInput formControlName="email" placeholder="Email Address"/>
                    <mat-error *ngIf="accountForm.controls['email'].errors">Invalid email.</mat-error>
                  </mat-form-field>
            </div>
            
          </div>
  
          <div fxLayoutAlign="end" fxLayoutGap="5px">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="addressForm">
        <form [formGroup]="addressForm">
          <ng-template matStepLabel>Address</ng-template>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
              <mat-form-field>
                <input type="text" matInput formControlName="addressLine1" placeholder="Address Line 1"/>
              </mat-form-field>
  
              <mat-form-field>
                <input type="text" matInput formControlName="city" placeholder="City"/>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-form-field style="width:50%">
              <input type="text" matInput formControlName="state" placeholder="State"/>
            </mat-form-field>
  
            <mat-form-field style="width:50%">
              <input type="text" matInput formControlName="postalCode" placeholder="Postal Code"/>
            </mat-form-field>
          </div>
  
          <div fxLayoutAlign="end" fxLayoutGap="5px">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="sqForm">
        <form [formGroup]="sqForm">
          <ng-template matStepLabel>Security Questions</ng-template>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-form-field fxFlex="50%">
              <mat-label>Select a question</mat-label>
              <select matNativeControl formControlName="questionId1">
                <option *ngFor="let q of questions" [value]="q._id">{{q.text}}</option>
              </select>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
              <input type="text" matInput formControlName="answer1" placeholder="Answer"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-form-field fxFlex="50%">
              <mat-label>Select a question</mat-label>
              <select matNativeControl formControlName="questionId2">
                <option *ngFor="let q of questions" [value]="q._id">{{q.text}}</option>
              </select>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
              <input type="text" matInput formControlName="answer2" placeholder="Answer"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-form-field fxFlex="50%">
              <mat-label>Select a question</mat-label>
              <select matNativeControl formControlName="questionId3">
                <option *ngFor="let q of questions" [value]="q._id">{{q.text}}</option>
              </select>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
              <input type="text" matInput formControlName="answer3" placeholder="Answer"/>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end" fxLayoutGap="5px">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext (click)="getSecurityQuestions()" [disabled]="!sqForm.valid">Next</button>
          </div>
        </form>
  
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Sign in</ng-template>
        Click the Register button to finish setup account
        <div fxLayoutAlign="end" fxLayoutGap="5px">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button (click)="signIn()" color="primary">Finish!</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>