<!--
============================================
; Title: service-list.component.html
; Author: Joshua HUghes
; Date: 04/22/2020
; Modified By: Joshua Hughes
; Description: service list component page for admins
;===========================================
-->
<div fxLayout="column" align="center">
    <br>
    <div fxLayout="row">
        <div fxFlex></div>
        <mat-card fxFlex="50" class="mat-elevation-z8">
            <mat-card-title>Service Configuration</mat-card-title>
            <mat-card-subtitle>
                <button mat-button routerLink="/services/create/new" color="accent">Create New </button>
            </mat-card-subtitle>

            <br />
            <mat-card-content>
                <table mat-table [dataSource]="services">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.id}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Title</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.title}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.price}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="functions">
                        <th mat-header-cell *matHeaderCellDef>Functions</th>

                        <td mat-cell *matCellDef="let element" >
                            <button  mat-icon-button routerLink="/services/{{element._id}}">
                                <mat-icon color="accent">edit</mat-icon>
                            </button>
                            <button disabled mat-icon-button>
                                <p *ngIf="coreService(element.id)" style="font-style: italic; font-size: x-small; color: red;">*cannot delete core service</p>
                            </button>
                            
                            <button *ngIf="!coreService(element.id)"  mat-icon-button (click)="delete(element._id)">
                                <mat-icon color="accent">delete</mat-icon>
                            </button>
                            
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </mat-card-content>
        </mat-card>
        <div fxFlex></div>
    </div>
    <br>
</div>