<!--
============================================
; Title: user-profile.component.html
; Author: Joshua Hughes
; Modified by: Joshua Hughes
; Date: 08 April 2020
; Description: user profile configuration component
; for BCRS
;===========================================
-->
<div fxLayout="column" align="center">
    <br>
        <mat-card class="mat-elevation-z8">
            <mat-card-title>User Details for {{username}}</mat-card-title>
            <br />
            <form [formGroup]="form" (ngSubmit)="saveUser()" #userForm>
                <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['firstname']" placeholder="First Name"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['lastname']" placeholder="Last Name"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['phoneNumber']" placeholder="Phone Number"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput [formControl]="form.controls['address']" placeholder="Address"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="email" matInput [formControl]="form.controls['email']" placeholder="Email"/>
                        </mat-form-field>

                    </div>  
                </mat-card-content>

                <br />
                <mat-card-actions align="end">
                    <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
                    <button mat-raised-button color="accent">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card>
    <br>
</div>