<!--
============================================
; Title: signin.component.html
; Author: Karie Funk
; Modified by: Karie Funk
; Date: 09 April 2020
; Description: This is the sign in component
; for BCRS
;===========================================
-->

<div fxLayout="column">
    <div fxFlex fxLayout="row">
        <div fxFlex="30"></div>    <!-- spacer div -->
        <mat-card fxFlex class="signin-container mat-elevation-z8">
            <mat-card-title class="signin-title mat-headline">Bob's Computer Repair Shop</mat-card-title>
            <mat-card-subtitle class="signin-title mat-headline">Sign In</mat-card-subtitle>
            <br>
            <!--Will display error message if username or password is entered incorrectly-->
            <small class="error" *ngIf="errorMessage">{{ errorMessage }}<br></small>
            <mat-card-content>
                <br>
                <mat-card class="mat-elevation-z8" fxLayout="column" fxLayoutGap="10px">
                    <!--Login Form-->
                    <form [formGroup]="form" (ngSubmit)="signin()" #loginForm>
                        <mat-card-content fxLayout="column">
                            <!--Input for username in login form-->
                            <mat-form-field>
                                <input matInput [formControl]="form.controls['username']" placeholder="Username" fxFlex/>
                            </mat-form-field>
                            <br/>
                            <!--Password Visibility Feature-->
                            <mat-form-field>
                                <input [type]="show ? 'text' : 'password' " matInput [formControl]="form.controls['password']" placeholder="Password" fxFlex />
                                <mat-icon class="pwShow" matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <a style="cursor: pointer;text-decoration: underline;" fxLayoutAlign="end"><small>Forgot Password?</small></a>
                        </mat-card-content>
                        <!--Login Button-->
                        <mat-card-actions>
                            <div fxFlex></div>
                            <button type="submit" mat-raised-button>Login</button>
                        </mat-card-actions>
                        <small fxLayout="row" fxLayoutAlign="end">Don't have an account?<span fxFlex="5" fxLayoutAlign="end"></span><a style="cursor: pointer;text-decoration: underline;">Register</a></small>
                    </form>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <div fxFlex="30"></div>    <!-- spacer div -->
    </div>
</div>