<div fxLayout="column">


  <!-- [visibility]="profileShow ? 'visible': 'hidden'" -->

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>BCRS</button>

        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <button class="navbar-link" mat-button [matMenuTriggerFor]="AdminMenu" aria-label="Account Menu" *ngIf="hasAdmin">Admin</button>
        <mat-menu #AdminMenu="matMenu">
          <button mat-menu-item routerLink="/users">
            <mat-icon>people</mat-icon>
            <span>Manage Users</span>
          </button>
          <button mat-menu-item routerLink="/security-questions">
            <mat-icon>security</mat-icon>
            <span>Mange Security Questions</span>
          </button>
        </mat-menu>

      </div>
      <div fxFlex="52"></div>
      <!-- Shows only if the login name cookie exists -->
      <div fxFlex *ngIf="cookieService.get('sessionuser')">
        <span  class="mat-h4" >Hello {{cookieService.get('sessionuser')}}!  </span>
        <!-- <mat-icon class="userShow" matSuffix >account_circle</mat-icon> -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account Menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewProfile(userId)">
            <mat-icon>person_outline</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
